.bloque {
    background-color: darkseagreen;
    border: solid 10px black;
    border-radius: 25px;
    width: 200px;
    height: 200px;
    margin: 20px ;

}

.footer{
    position: fixed;
    bottom: 0;
    border: solid 5px blueviolet;
    left: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    padding: 10px;
}

body {
   margin-bottom: 120px;

}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}